body {
    background-color: white;
}

header {    
    background-color: black;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    border-bottom: solid 7px steelblue;
    padding-bottom: 25px;
    font-size: 16px;
    font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

header a {
    float: center;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

header a:hover {
    background-color: steelblue;
}

h1 {
    font-family: 'DM Serif display', 'Times New Roman', Times, serif;
    font-size: 60px;
    color: olivedrab;
    text-transform: lowercase;
    text-align: center;
    letter-spacing: 10px;
}

h2 {
    font-family: 'DM Serif display', 'Times New Roman', Times, serif;
    color: steelblue;
    text-transform: lowercase;
    font-size: 40px;
    letter-spacing: 10px;
}

p {
    font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    line-height: 200%;
}

.about {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    padding-top: 100px;
    margin-left: 10%;
    margin-right: 5%;
}    

#photo {
    height: 500px;
    width: 400px;
    padding-left: 50px;
    padding-top: 50px;
}    

#photo img {
    width: auto;
    height: 85%;
    padding-bottom: 100px;
    padding-top: 100px;
    float: center;
}

#bio {
    width: 50%; 
    padding-top: 100px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    float: right;
    padding-top: 20px;
}

.image-gallery img {
    height: 200px;
    width: auto;
}

#container {
    margin-top: 15%;
    margin-bottom: 10%;
    margin-left: 15%;
    margin-right: 20%;
    padding-top: 150px;
}

footer {
    background-color: black;
    font-size: 10px;
    font-weight: bold;
    font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px;
}
